@font-face {
    font-family: "Rubik-SemiBold";
    src: url(assets/fonts/Rubik-SemiBold.ttf);
}
@font-face {
    font-family: "Rubik-Bold";
    src: url(assets/fonts/Rubik-Bold.ttf);
}
@font-face {
    font-family: "Rubik-Light";
    src: url(assets/fonts/Rubik-Light.ttf);
}
body {
    margin: 0;
    padding: 0 300px;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.logo_title {
    display: flex;
    align-items: center;
    width: 30%;
}
.logo {
    width: 35px;
    height: 35px;
}
.logo:hover {
    cursor: pointer;
}
.title_first {
    font-family: "Rubik-SemiBold";
    font-size: 20px;
    margin-left: 10px;
}
.title_second {
    font-family: "Rubik-Bold";
    font-size: 20px;
}

.top_tab_bar {
    display: flex;
    flex: 1;
    justify-content:space-evenly;
}
.bar_title {
    font-family: "Rubik-Light";
    color: #4F5665;
}
.bar_title:hover {
    cursor: pointer;
    font-weight: 700;
    text-decoration-line: underline;
}
.auth_button {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
.login_button_title {
    font-family: "Rubik-SemiBold";
    color: "#0B132A";
    align-self: center;
    margin-right: 30px;
    font-size: 16px;
}
.login_button_title:hover {
    cursor: pointer;
}
.register_button_title {
    font-family: "Rubik-SemiBold";
    color: #F53855;
    font-size: 16px;
    border: 1px #F53855 solid;
    border-radius: 50px;
    background-color: white;
    padding: 10px 35px;
    transition: color 0.5s ease 100ms, background-color 0.5s ease 100ms, border-color 0.5s ease 100ms;
}
.register_button_title:hover {
    cursor: pointer;
    background-color: #F53855;
    color: white;
}
.main_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_part {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.main_title {
    display: flex;
}
.main_title_first {
    font-family: "Rubik-SemiBold";
    font-size: 50px;
}
.main_title_second {
    font-family: "Rubik-Bold";
    font-size: 50px;
}
.main_text {
    color: #4F5665;
    font-size: 16px;
    font-family: "Rubik-Light";
}
.get_started_btn {
    font-family: "Rubik-SemiBold";
    margin-top: 50px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px #F53838 solid;
    background-color: #F53838;
    color: white;
    align-self: flex-start;
    padding: 20px 80px;
    -webkit-box-shadow: 0px 30px 40px -5px rgba(245,56,56,0.35); 
    box-shadow: 0px 30px 40px -5px rgba(245,56,56,0.35);
    transition: background-color 0.5s ease 100ms, color 0.5s ease 100ms;
}
.get_started_btn:hover {
    background-color: white;
    color: #F53838;
    -webkit-box-shadow: 0px 30px 40px -5px rgba(245,56,56,0.0); 
    box-shadow: 0px 30px 40px -5px rgba(245,56,56,0);
}
.statistics {
    display: flex;
    justify-content: space-evenly;
    margin-top: 105px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 35px 40px 15px rgba(13,16,37,0.06); 
    box-shadow: 0px 35px 40px 15px rgba(13,16,37,0.06);
    padding: 40px 0;
}
.statistic_item {
    display: flex;
}
.separator {
    width: 2px;
    height: 125px;
    background-color: #EEEFF2;
}
.statistic_title {
    font-family: "Rubik-Light";
    font-size: 20px;
    color: #4F5665;
}
.statistic_number {
    font-family: "Rubik-Bold";
    font-size: 25px;
    color: #0B132A;
}
.statistic_wrap {
    display: flex;
    margin-left: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
